body {
  background-image: url(https://t3.ftcdn.net/jpg/02/90/89/76/360_F_290897614_7RdAsk2GmumcGWZ2qklmV74hKlNmznSx.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
